@import url("talents/list.css");
@import url("talents/profile.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Public Sans', sans-serif;
    /*font-size: 16px;*/
}
/* General styles for the header element */

/* General styles for the nav element */
.nav-container {
    display: flex;
    height: 80px;
    justify-content: space-between;
    margin-bottom: 5px;
    padding-right: 20px;
}
/* Styles for the menu element */
.menu,
.logo {
    list-style-type: none;
    margin-left: 40px;
}
.menu li,
.logo li {
    display: inline-block;
    margin: 10px;
    font-size: larger;
}
.item {
    display: flex;
}
.logo {
    width: 200px;
    height: 100px;
}

.menu-location {
    display: block;
    margin-right: 5px;
    color: inherit; /* blue colors for links too */
    text-decoration: none !important;
}
.menu-statistic {
    display: block;
    color: #c43e1c;
}

.content {
    /*background-image: url("Talent Pool visual.jpg");*/
    background-repeat: no-repeat;
    background-size: 50% 100%;
    background-position: right center;
    width: 100%;
    border: #e4906e 2px solid;
    border-left: none;
    border-right: none;
    min-height: 700px;
    height: fit-content;
}
.content-row {
    margin-left: 150px;
    margin-top: 40px;
}
.container-filter {
    background-color: white;
    padding: 20px;
    font-size: small;
}

.form-group {
    margin-bottom: 10px;
    padding-right: 20px;
}

.form-label {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: small;
    display: flex;
    align-items: center;
}

/* Hiding spin for number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
.select2-container .select2-selection--single {
    height: 32px !important;
    display: flex !important; /* Use flexbox layout */
    align-items: center !important; /* Center the text vertically */
}
.form-input {
    display: block;
    width: 100%;
    padding: 5px;
    height: 32px;
    border: 1px solid rgba(155, 155, 155, 0.91);
    border-radius: 5px;
}

.form-select {
    display: block;
    padding: 5px;
    height: 28px;
    border: 1px solid rgba(155, 155, 155, 0.91);
    border-radius: 5px;
    appearance: none;
}

.form-button {
    display: block;
    width: 15%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #e87c4a;
    color: white;
    cursor: pointer;
    margin-left: auto;
    margin-right: 10px;
}

.form-button:hover {
    background-color: #c65f33;

    .form-error {
        color: red;
        font-weight: bold;
    }

    .form-success {
        color: green;
        font-weight: bold;
    }

    /* Add some media queries for responsiveness */
    @media (max-width: 480px) {
        .container {
            width: 90%;
        }
    }
}


