@import url("talents/list.css");
@import url("talents/profile.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* General styles for the header element */


/* General styles for the nav element */
.nav-container {
    display: flex;
    height: 100px;
    justify-content: space-between;
}
/* Styles for the menu element */
.menu , .logo {
    list-style-type: none;
}
.menu li, .logo li{
    display: inline-block;
    margin: 10px;
    font-size: larger;
}
.item{
    display: flex;
}
.logo{
    width: 200px;
    height: 100px;
}

.menu-location {
    display: block;
    margin-right: 5px;
}
.menu-statistic {
    display: block;
    color: #c43e1c;
}

.content {
    /* background-image: url("Talent Pool visual.jpg"); */
    background-repeat: no-repeat;
    background-size: 50% 100%;
    background-position: right center;
    width: 100%;
    border: #e4906e 2px solid;
    border-left: none;
    border-right: none;
}

.container-filter {
    background-color: white;
    padding: 20px;
    font-size: small;
    padding-left: 100px;
}

.form-group {
    margin-bottom: 10px;
    padding-right: 20px;
}

.form-label {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: small;
    display: flex;
    align-items: center;
}

.form-input {
    display: block;
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-select {
    display: block;
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none;
}

.form-button {
    display: block;
    width: 15%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #e87c4a;
    color: white;
    cursor: pointer;
    margin-left: auto;
    margin-right: 10px;
}

.form-button:hover {
    background-color: #c65f33;

    .form-error {
        color: red;
        font-weight: bold;
    }

    .form-success {
        color: green;
        font-weight: bold;
    }

    /* Add some media queries for responsiveness */
    @media (max-width: 480px) {
        .container {
            width: 90%;
        }
    }
}
.container-list {
    display: grid;
    justify-content: center;
    align-content: center;
    margin-left: 50px;
}
.list-title{
    margin-bottom: 10px;
    display: flex;
}
