.profile-container {
}

.profile-card {
    width: 100%;
    margin-bottom: 10px;
    margin-left: 10px;
    border-bottom: 1px solid #ddd;
}
.profile-header {
    display: flex;
    margin-left: 20px;
    align-items: center;
}
.profile-image {
    margin-right: 20px;
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.profile-info {
    padding: 16px;
}

.profile-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
}

.profile-bio {
    font-size: 16px;
    color: #666;
    margin-bottom: 16px;
}

.profile-social {
    display: flex;
}

.profile-social a {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #eee;
    text-align: center;
    line-height: 32px;
    color: #333;
    text-decoration: none;
}

.profile-social a:hover {
    background-color: #ddd;
}
.reference-item {
    display: flex;
    align-items: center;
}
.btn-view {
    border: 1px solid #a19c9c;
    margin-left: auto;
}
